.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12.5em;
    background: var(--bg-menu);
    padding-top: 3.125em;
    transform: translateX(-100%);
    will-change: transform;
    filter: opacity(0.96);

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        

        li {
            cursor: pointer;
            font-weight: 400;
            transition: 2s all;
            color: var(--accent-text);
            display: block;
            transform-origin: -1.25rem 50%;
            font-weight: bold;
            font-size: 1.75rem;
            padding: 0.625em;
            will-change: transform, opacity, filter;

            &:hover::after {
                content: '/>';

            }
            &:hover::before {
                content: '<';

            }
        }
    }
}
