.container {
    position: relative;

    .Mobile {
        display: block;
    }
    .Desc {
        display: none;
    }
    
    
    @media (min-width: 48.75rem) {
        .Mobile {
            display: none;
        }
        .Desc {
            display: block;
        }
    }
}