.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    border: 1px solid var(--text-btn);
    color: var(--tag-color);

    border-radius: 0.3em;
    box-shadow: 1px 1px 10px 1px var(--text);

    background: var(--tag-bg);
}