@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;400;500;600;700;800;900&display=swap');


// This is a container for all parent elements that call it  

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 33.75em) {
    .container {
        max-width: 33.75em;
    }
}
@media (min-width: 45em) {
    .container {
        max-width: 45em;
    }
}
@media (min-width: 60em) {
    .container {
        max-width: 60em;
    }
}
@media (min-width: 71.25em) {
    .container {
        max-width: 71.25em;
    }
}
@media (min-width: 82.5em) {
    .container {
        max-width: 82.5em;
    }
}

//  --------------------------

.mainColor {
    --ash-black: #222;
    --black: rgb(31, 31, 31);
    --white: #fafafa;
    --blue: #3ad1ff;
    --dusk: #6600ff;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
    --gray-dark: #273444;
    --gray-light: #b5bcc4;

    // Light grad-color
    --gradLight-first: hsl(190, 100%, 90%);
	--gradLight-second: hsl(63, 100%, 82%);

    // Dark grad-color
    --gradDark-first: hsl(198, 44%, 11%);
	--gradDark-second: hsl(198, 39%, 29%);

    // Color icon 
    --sun: orange;
    --moon: lightSlateGray;
}

.DarkTheme {
    --header-text: var(--white);
    --text: var(--white);
    --nav-text: var(--sun);

    --background: var(--gray-dark);
    --bgFooter: var(--gradDark-first);

    --bg-menu: var(--gray-light);
    --accent-text: var(--white);

    --b-btn:  transparent;
    --text-btn: var(--text);
    --bg-btn: transparent;
    --bg-hover-btn: var(--nav-text);

    background: linear-gradient(to bottom, var(--gradDark-first), var(--gradDark-second));
}

.LightTheme {
    --header-text: var(--ash-black);
    --text: var(--gray-dark);
    --nav-text: var(--blue);

    --background: var(--white);
    --bgFooter: var(--gray-dark);

    --b-btn:  transparent;
    --text-btn: var(--text);
    --bg-btn: transparent;
    --bg-hover-btn: var(--nav-text);

    --bg-menu: var(--ash-black);
    --accent-text: var(--white);
    background: linear-gradient(to bottom, var(--gradLight-first), var(--gradLight-second));
}   

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Saira Extra Condensed', sans-serif;
    min-height: 100dvh;
    width: 100%;
}


