.button {
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    background: var(--bg-menu);
    padding: 0.625em;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0.9);
  }
  