.footer {
    background: center / cover no-repeat var(--bgFooter);
    color: var(--white);


    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.625em;

        h3 {
            padding: 0.8em;
            font-size: 1.375rem;
            font-weight: bold;
            letter-spacing: 0.4rem;
        }
    }
}